page-about {

    h2{
        color:blueviolet
    }

    .item-content{
        background-color: 'clear';
    }
    .bg-image{
        background-image: url('../assets/imgs/imagenFondo2.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}
